<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Django App</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to My Django App</h1>
    <p>This is a simple Django page.</p>

    <div class="container">
        <div class="pic1">
           <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
        </div>
        <div class="pic2">
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
        </div>
        <div class="pic3">
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
        </div>
        <div class="pic4">
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
        </div>
    </div>
        <h1>HELLO WORLD!</h1>
    <div class="container2">
        <div class="value1">
            <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
        </div>
        <div class="value2">
           <h1>World</h1>
           <h1>World</h1>
           <h1>World</h1>
           <h1>World</h1>
        </div>
    </div>
    <div class="desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit aspernatur veniam perspiciatis rem quos necessitatibus exercitationem impedit alias est in, distinctio laborum accusantium enim consequatur, doloremque, debitis aut nemo?</p>
    </div>
    <div class="picture">
     <img src="{% static 'images/Czar.png' %}" alt="Czar">
    </div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus odio porro dolore quasi eaque. Quidem consequuntur dicta quam, amet aliquam, eos in ex corrupti nesciunt nulla odit veritatis, at modi rerum vero ratione asperiores placeat fugiat quod laborum nemo sunt ipsum. Accusamus aliquam, et pariatur consequuntur enim provident nostrum veritatis sequi nobis voluptatibus? Fugit reiciendis nam officia quas, quos rem.</p>
</body>
</html>
