<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Django App</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to My Django App</h1>
    <p>This is a simple Django page.</p>

    <div class="container">
        <div class="pic1">
           <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
           <h1>Hello</h1>
        </div>
        <div class="pic2">
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
            <h1>World!</h1>
        </div>
    </div>

</body>
</html>
